#header {
    margin-left: 50px;
    margin-right: 50px;
    height: 100px;
    background: #ce3600;
    position: relative;
}

#logo{
    width: 65px;
    height:95px;
    display: inline-block;
    float: left;
}

.logo {
    width: 65px;
    height: 95px;
    display: inline;
    float: left;
}

/*MENU*/
.menu {
    text-align: center;
    float: right;


}

.menu, .menu a{
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
}

.menu, .menu ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
.menu li{
    display: inline-block;
    position: relative;
    font-size: 12px;
}
.menu a{
    display: block;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;

}

.menu ul{
    display:none;
    position: absolute;
}

.menu li:hover> ul{
    display: block;
}
.lvl2{
    background-color: #ffffff;
    
}
.lvl2 a{
    color: #000 !important;
}